{% extends 'admin/base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>
            Il y a {{ recipes | length }}
            {% if recipes | length > 1 %} recettes
            {% else %}tag
            {% endif %}
            actuellement.
        </h1>
        <a href="{{ path('admin_create_recipe') }}" class="btn btn-primary">Créer une nouvelle recette</a>
    </div>

    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{{ path('recipe_show', {id:recipe.id}) }}">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
