{% extends "public/base.html.twig" %}


{% block title %}Accueil | Les recettes d'Iris{% endblock %}

{% block body %}

    <main>

        <h1>Les recettes d'Iris</h1>
        <h2>C'est bon y'a pas photo</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet aspernatur assumenda autem consequatur ea eos fuga id impedit ipsa ipsam, maxime nisi odio officia, optio quo similique veniam voluptatibus.</p>

    </main>

{% endblock %}